<h1>CartItems#new</h1>
<p>Find me in app/views/cart_items/new.html.erb</p>


<p>
    <%= @product.name %>
    <%= @product.price %>
    <%= form_with url: cart_items_path, method: :post do |form| %>
        <%= form.number_field :qty, value: 1, min:  1 %>
        <%= form.hidden_field :product_id, value: @product.id %>
        <%= form.submit 'カートに追加' %>
    <% end %>
</p>
